body {
  box-sizing: border-box;
  /* background: rgb(171, 75, 7); */
  background: url("../background-wall.jpg") 20% rgb(53, 53, 53);
  font-size: 150%;
  font-family: "Titillium Web", sans-serif;
  color: white;
  height: 100vh;
  overflow-y: hidden;
  border-bottom: 3px solid;
  border-image: linear-gradient(90deg, rgb(26, 209, 47), rgb(24, 194, 149)) 1;
}

h1 {
  text-align: center;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 800, "GRAD" 0, "opsz" 64;
}

.playing-board {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
}

.square {
  display: flex;
  width: 120px;
  height: 120px;
  border: 2px solid rgb(58, 58, 58);
  background-color: blanchedalmond;
  justify-content: center;
  align-items: center;
}

.square-hover {
  background: rgb(187, 176, 159);
}

.moving-field {
  position: absolute;
  background: rgba(0, 0, 0, 0.468);
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 2;
  user-select: none;
  font-size: 2em;
}

.end-round {
  position: absolute;
  background: rgba(0, 0, 0, 0.468);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  height: 100%;
  user-select: none;
}

.end-avatar-display {
  background-size: 80px;
  height: 100px;
  width: 100px;
}

.end-game {
  position: absolute;
  background: rgba(0, 0, 0, 0.468);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-size: 100%;
  height: 100%;
  flex-direction: column;
  user-select: none;
}

.counting-down-field {
  position: absolute;
  background: rgba(0, 0, 0, 0.468);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8em;
  height: 100%;
  user-select: none;
  font-family: "Bebas Neue", cursive;
  text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
    2px 2px 0 #000;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.console-popup {
  position: absolute;
  z-index: 6;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  bottom: 0;
  height: 300px;
  padding: 20px;
  font-size: 80%;
  font-family: "Source Code Pro", monospace;
  background: rgba(53, 53, 53, 0.748);
  width: 100%;
}

.console-popup span {
  color: gray;
}

.starting-field {
  position: fixed;
  /* visibility: hidden; */
  z-index: 5;
  display: flex;
  padding: 10px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(15px);
  background-color: rgba(54, 44, 100, 0.7);
}

.starting-field-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.starting-field-wrapper small {
  font-size: 15px;
}

.nickname-section {
  display: flex;
  width: 100%;
  align-items: center;

  justify-content: space-between;
  padding: 20px;
  gap: 20px;
}

.nickname-section input {
  position: relative;
  margin: auto;
  padding-left: 21px;
  width: 220px;
  font-size: medium;
  height: 64px;
  background-color: rgb(64, 64, 64);
  color: white;
  border: 2px solid rgb(64, 64, 64);
  overflow: hidden;
  outline: none;
}

.nickname-section input:focus {
  border: 2px solid;
  border-image: linear-gradient(rgb(26, 209, 206), rgb(78, 24, 194)) 1;
}

.nickname-section h3 {
  font-family: "Shadows Into Light", cursive;
  font-size: 150%;
}

.alert-box {
  display: flex;
  flex-direction: column;
  color: red;
  margin-top: 15px;
  height: 200px;
  width: 500px;
  row-gap: 10px;
}

.alert-box div {
  background: rgba(31, 31, 31, 0.692);
  width: 100%;
  padding: 10px;
  word-wrap: break-word;
  text-align: center;
  border-radius: 40px;
}

.top {
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 4;
  height: 0;
}

.top-bar {
  display: flex;
  width: 350px;
  height: 76px;
  padding-left: 15px;
  align-items: center;
  justify-content: space-around;
  z-index: 4;
  background: linear-gradient(90deg,
      rgb(40, 40, 40) 0%,
      rgb(100, 100, 100) 100%);
  border-bottom: 4px solid;
  border-image: linear-gradient(45deg, rgb(26, 209, 47), #19c348) 1;
}

.top-bar-triangle {
  width: 0;
  height: 0;
  z-index: 3;
  top: 0;
  border-style: solid;
  border-width: 76px 76px 0 0;
  border-color: rgb(24, 197, 44) transparent transparent transparent;
}

.top-bar-inner-triangle {
  width: 0;
  height: 0;
  z-index: 3;
  top: -78px;
  position: relative;
  border-style: solid;
  border-width: 73px 73px 0 0;
  border-color: rgba(100, 100, 100, 1) transparent transparent transparent;
}

.top-bar-border {
  width: 100%;
  position: absolute;
  z-index: 2;
  border-top: 3px solid;
  border-image: linear-gradient(90deg, rgb(21, 216, 44), rgb(24, 194, 89)) 0.5;
}

.top-dropdown-bar {
  display: none;
  position: fixed;
  left: 0;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 40px;
  gap: 20px;
  top: 76px;
  z-index: 2;
  background: linear-gradient(0deg, rgb(23, 23, 23) 0%, rgb(56, 56, 56) 100%);
  width: 350px;
  border-radius: 0px 0px 30px 0px;
}

.first-dropdown-bar-wrapper,
.second-dropdown-bar-wrapper {
  display: flex;
  row-gap: 20px;
  column-gap: 5px;
  flex-wrap: wrap;
  align-items: center;
}

.first-nickname-display,
.second-nickname-display {
  display: flex;
  align-items: center;
  font-size: 75%;
}

.first-user,
.second-user {
  display: flex;
  width: 100%;
  -webkit-box-shadow: inset 0px 0px 24px -5px rgba(0, 0, 0, 1);
  -moz-box-shadow: inset 0px 0px 24px -5px rgba(0, 0, 0, 1);
  box-shadow: inset 0px 0px 24px -5px rgba(0, 0, 0, 1);
  background: rgb(105, 105, 105);
  border-radius: 30px;
}

.top-bar:hover .top-dropdown-bar {
  display: flex;
}

.first-avatar {
  background: url("../first.png") no-repeat center;
  background-size: 40px;
  width: 58px;
  height: 58px;
  padding: 25px;
  border-radius: 40px;
}

.second-avatar {
  background: url("../second.png") no-repeat center;
  background-size: 40px;
  width: 58px;
  height: 58px;
  padding: 25px;
  border-radius: 40px;
}

.move-count-display {
  display: flex;
  justify-content: center;
  border-top: 3px solid white;
  padding-top: 10px;
  column-gap: 5px;
}

.settings-gear {
  width: 50px;
  height: 50px;
  background: url("../gear-options.png") no-repeat center;
  background-size: 50px;
}

.first-points,
.second-points {
  background: rgb(105, 105, 105);
  padding: 6px;
  font-family: "Bebas Neue", cursive;
  border-radius: 5px;
}

.stats-board h3 {
  font-family: "Bebas Neue", cursive;
}

.input-section {
  display: flex;
  width: 600px;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  gap: 25px;
}

.input-section h3 {
  width: 160px;
  text-align: right;
}

.input-section .limitless {
  cursor: not-allowed;
  opacity: 0.7;
}

hr {
  width: 100%;
  height: 5px;
  border-width: 0;
  border-radius: 5px;
  color: white;
  margin-bottom: 20px;
  background-color: white;
}

.input-section button {
  width: 140px;
  padding: 10px;
  font-size: 80%;
  color: white;
  cursor: pointer;
  transition: 0.3s background, color ease-in-out;
  background-color: rgb(64, 64, 64);
  border-image: linear-gradient(rgb(26, 209, 47), rgb(24, 128, 194)) 1;
}

.input-section input {
  width: 52px;
  padding: 10px;
  font-size: 100%;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: 0.3s background, color ease-in-out;
  background-color: rgb(64, 64, 64);
  border-image: linear-gradient(rgb(26, 209, 47), rgb(24, 128, 194)) 1;
}

.input-section input::-webkit-outer-spin-button,
.input-section input::-webkit-inner-spin-button {
  margin: 0;
  -webkit-appearance: none;
}

.input-section input[type="number"] {
  -moz-appearance: textfield;
}

.input-section input:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.input-numbers {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.input-numbers h3 {
  text-align: center;
}

.input-numbers div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor: help;
}

.input-section .bot-button:active {
  color: white;
  background: rgb(64, 64, 64);
}

.first-player,
.second-player {
  display: flex;
}

.random-button {
  height: 64px;
  width: 64px;
  color: white;
  cursor: pointer;

  transition: background 0.1s ease-in-out;
  background: rgb(64, 64, 64) url("../dice.png") no-repeat center;
  border-image: linear-gradient(rgb(26, 209, 47), rgb(24, 128, 194)) 1;
}

.kremowka {
  position: absolute;
  z-index: 6;
  background: url("../kremowka.png") no-repeat;
  background-size: 200px;
  width: 200px;
  height: 200px;
  top: -30vh;
  left: 45%;
}

.random-button:active {
  background: rgb(209, 209, 209) url("../dice.png") no-repeat center;
}

.play-button {
  width: 170px;
  padding: 15px;
  font-size: 80%;
  color: white;
  background: rgb(245, 83, 65);
  background: linear-gradient(315deg,
      rgba(245, 83, 65, 1) 0%,
      rgba(255, 164, 61, 1) 100%);
  border-image: linear-gradient(rgb(80, 80, 80), rgb(163, 7, 7)) 1;
}

.play-button:active {
  background: rgb(245, 83, 65);
  background: linear-gradient(315deg,
      rgb(237, 45, 23) 0%,
      rgb(225, 120, 0) 100%);
}

.play-button:disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.stats-board {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  z-index: 3;
}

.select {
  display: flex;
}

.circle {
  border-radius: 65px;
  border: 4px solid black;
  width: 80px;
  height: 80px;
  pointer-events: none;
}

.cross {
  width: 80px;
  pointer-events: none;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross:before,
.cross:after {
  content: "";
  height: 80px;
  width: 4px;
  background-color: rgb(0, 0, 0);
}

.cross:before {
  transform: rotate(45deg);
}

.cross:after {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 768px) {
  .nickname-section {
    flex-direction: column;
  }

  .second-player {
    flex-direction: row-reverse;
  }
}

@media only screen and (max-device-width: 480px) {
  .playing-board {
    transform: scale(0.9);
    border: 0;
  }
}